<h2 class="title">Work Package : <%=@work_package%></h2>
<h3 class="title"><%= l(:add_issue_branches) %></h3>

<%= form_tag({:controller => 'branches',
              :work_package => @work_package,
              :project_id => @work_package.project_id},
              :method => :post,
             :id => 'new-branch-form') do %>

    <div id="branches_for_wp">
      <% @repositories.each do |rep| %>
          <p><strong><%= "#{rep.name}" %></strong></p>
          <% rep.branches.each do |branch| %>
              <% if Branch.where(:name => branch.name, :work_package_id => @work_package._id).first.nil?then %>
              <p><%= check_box_tag 'branch[branch_ids][]', "#{rep.id},#{branch.name}" %> <%= branch.name %></p>
              <% end %>
          <% end %>
      <% end %>
    </div>
    <p class="buttons">
      <%= styled_button_tag l(:button_save), class: '-highlight -with-icon icon-yes' %>
    </p>
<% end %>
