<!--
<%= render partial: "projects/form/attributes/name",
           locals: { form: form } %>
-->

<%= render partial: "projects/form/attributes/inspection_prep_avg",
           locals: { form: form } %>

<%= render partial: "projects/form/attributes/inspection_dur_avg",
			locals: { form: form } %>

<%= render partial: "projects/form/attributes/rework_avg",
			locals: { form: form } %>

<%= render partial: "projects/form/attributes/prod_avg",
			locals: { form: form } %>


<table>
	<tr>
		<td></td>
		<td>Low</td>
		<td>Medium</td>
		<td>High</td>
	</tr>
	<tr>
		<td>Tipo1</td>
		<td>
			
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
		<td>
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
		<td>
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
	</tr>
	<tr>
		<td>Tipo2</td>
		<td>
			
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
		<td>
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
		<td>
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
	</tr>
	<tr>
		<td>Tipo3</td>
		<td>
			
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
		<td>
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
		<td>
			<%= render partial: "projects/form/attributes/teste_field",
			locals: { form: form } %>
		</td>
	</tr>

</table>