<div class="work_package issue details">
  <div class="meta">
    <% attributes = work_package_show_attributes(work_package) %>
    <div id="left" style="float:left; width:50%;">
      <dl class="attributes-key-value">
        <% attributes[:left].each do |attribute| %>
          <%= attribute.field.html_safe %>
        <% end %>
        <% unless work_package.fixed_version_id.nil? %>
          <dt class="attributes-key-value--key">Size:</dt>
          <dd class="attributes-key-value--value-container"> <%=ticket_size(work_package) %> lines </dd>
          <dt class="attributes-key-value--key">Inspection Prep. Time:</dt>
          <dd class="attributes-key-value--value-container"> 
          <%=inspection_preparation_time(work_package)%> hours</dd>
          <dt class="attributes-key-value--key">Total estimated task time: </dt>
          <dd class="attributes-key-value--value-container"> 
          <%= total_time(work_package)%> hours</dd>
        <%end%>
      </dl>

    </div>
    <div id="right" style="float:left; width:50%;">
      <dl class="attributes-key-value">
        <% attributes[:right].each do |attribute| %>
          <%= attribute.field.html_safe %>
        <% end %>
        <% unless work_package.fixed_version_id.nil? %>
          <dt class="attributes-key-value--key">Inspection Time:</dt>
          <dd class="attributes-key-value--value-container"> 
            <%=inspection_time(work_package)%> hours
          </dd>
          <dt class="attributes-key-value--key">Inspection Rework Time:</dt>
          <dd class="attributes-key-value--value-container">
            <%=rework_time(work_package)%> hours
          </dd>
        <%end%>
      </dl>
    </div>
    <br style="clear:both;" />
  </div>
</div>
