<div class="work_package issue details">
  <div class="meta">
    <% attributes = work_package_show_attributes(work_package) %>
    <div id="left" style="float:left; width:50%;">
      <dl class="attributes-key-value">
        <% attributes[:left].each do |attribute| %>
          <%= attribute.field.html_safe %>
        <% end %>
      </dl>
    </div>
    <div id="right" style="float:left; width:50%;">
      <dl class="attributes-key-value">
        <% attributes[:right].each do |attribute| %>
          <%= attribute.field.html_safe %>
        <% end %>
      </dl>
    </div>
    <br style="clear:both;" />
  </div>
</div>

      <div class="contextual">
    <%= link_to new_branch_path(:work_package_id => work_package.id, :project_id => work_package.project_id),class: 'button -alt-highlight' do %>
      <i class="button--icon icon-add"></i>
      <span class="button--text">Cadastrar Branch</span>
    <% end %>

      </div>

      <h3 class="attributes-group--header-text">Branches (<%= work_package.branches.size %>)</h3>
      <%= branches_list(work_package.branches.all) %>

