<%= error_messages_for :context %>

<section class="form--section">

  <div class="form--field"><%= f.text_field 'name', :required => true %></div>
  <div class="form--field"><%= f.text_field 'description', :required => true %></div>
  <div class="form--field"><%= f.text_field 'productivity_average', :required => true %></div>
  <div class="form--field"><%= f.text_field :inspection_preparation_average, :required => true %></div>
  <div class="form--field"><%= f.text_field :inspection_duration_average, :required => true %></div>
  <div class="form--field"><%= f.text_field :rework_average, :required => true %></div>

<hr />

<h2 align="center">
Complexity
</h2>

<table align="center">
	<thead>
		<th>&nbsp;</th>
        <th style="padding:12px">Low</th>
        <th style="padding:12px">Medium</th>
        <th style="padding:12px">High</th>
	</thead>
	<tbody>
    
  <% sql = "Select possible_values from custom_field_translations where name = 'Subtype' " %>
  <% records_array = ActiveRecord::Base.connection.execute(sql) %>
  <% @subtypes = records_array.first[0] %>

  <% @subtypes.each_line {|s| 
    next if s.include?"---" %>
    
   			 <tr>
   				<td style="padding:12px">
          <%= s = s.sub('-','').strip%>
				</td>

				<td style="padding:8px">
      
        <% c = @context.correction_factors.where(:type_id => s, :complexity => 'Low').first %>
                  <% value = c.value unless c.nil? %>
                  <input name="correction_factors[][value]" type="number" value="<%= value %>" step="0.01"/>
                  <input name="correction_factors[][type_id]" value="<%=s%>" type="hidden" />
                  <input name="correction_factors[][complexity]" value="Low"type="hidden" step="0.01"/>
				<td style="padding:8px">

          <% c = @context.correction_factors.where(:type_id => s, :complexity => 'Medium').first %>
          <% value = c.value unless c.nil? %>
                  <input name="correction_factors[][value]" type="number" value="<%= value %>" step="0.01"/>
                   <input name="correction_factors[][type_id]" value="<%=s%>"type="hidden" step="0.01"/>
                  <input name="correction_factors[][complexity]" value="Medium"type="hidden" step="0.01"/>
        
				<td style="padding:8px">
          <% c = @context.correction_factors.where(:type_id => s, :complexity => 'High').first %>
          <% value = c.value unless c.nil? %>
                  <input name="correction_factors[][value]" type="number" value="<%= value %>" step="0.01"/>
                   <input name="correction_factors[][type_id]" value="<%=s%>"type="hidden" step="0.01"/>
                  <input name="correction_factors[][complexity]" value="High"type="hidden" step="0.01"/>
        </tr>
  <% } %>

	</tbody>
</table>

  <%= call_hook(:view_contexts_form, :context => @context) %>
  
</section>
