<%= error_messages_for :context %>

<section class="form--section">

  <div class="form--field"><%= f.text_field 'name', :required => true %></div>
  <div class="form--field"><%= f.text_field 'description', :required => true %></div>
  <div class="form--field"><%= f.text_field 'productivity_average', :required => true %></div>

<table>
	<thead>
		<th>&nbsp;</th>
        <th style="padding:12px">Low</th>
        <th style="padding:12px">Medium</th>
        <th style="padding:12px">High</th>
	</thead>
	<tbody>
		<% @types.each do |type| %>

   			 <tr>
   				<td style="padding:12px">
					<%=type.name%>
				</td>

				<td style="padding:8px">
				
					<% c = @context.correction_factors.where(:type_id => type.id, :complexity => 'Low').first %>
			 		<% value = c.value unless c.nil? %>
                  <input name="correction_factors[][value]" type="number" value="<%= value %>" step="0.01"/>
                   <input name="correction_factors[][type_id]" value="<%= type.id %>"type="hidden" step="0.01"/>
                  <input name="correction_factors[][complexity]" value="Low"type="hidden" step="0.01"/>
				<td style="padding:8px">
					<% c = @context.correction_factors.where(:type_id => type.id, :complexity => 'Medium').first %>
			 		<% value = c.value unless c.nil? %>
                  <input name="correction_factors[][value]" type="number" value="<%= value %>" step="0.01"/>
                   <input name="correction_factors[][type_id]" value="<%= type.id %>"type="hidden" step="0.01"/>
                  <input name="correction_factors[][complexity]" value="Medium"type="hidden" step="0.01"/>

				<td style="padding:8px">
					<% c = @context.correction_factors.where(:type_id => type.id, :complexity => 'High').first %>
			 		<% value = c.value unless c.nil? %>
                  <input name="correction_factors[][value]" type="number" value="<%= value %>" step="0.01"/>
                   <input name="correction_factors[][type_id]" value="<%= type.id %>"type="hidden" step="0.01"/>
                  <input name="correction_factors[][complexity]" value="High"type="hidden" step="0.01"/>
   			 </tr>
        <% end %>
	</tbody>
</table>

  <%= call_hook(:view_contexts_form, :context => @context) %>
  
</section>
