<% html_title l(:label_administration), "Grupo de Trabalho" %>
<%= toolbar title: "Grupo de Trabalho" do %>
  
  <li class="toolbar-item">
    <%= link_to new_context_path, class: 'button -alt-highlight' do %>
      <i class="button--icon icon-add"></i>
      <span class="button--text">Cadastrar Grupo de Trabalho</span>
    <% end %>
  </li>
<% end %>


<table class="list">
  <thead>
    <tr align="left">
      <th>Nome do Grupo</th>
      <th>Descrição</th>
      <th>Produtividade Média(LoC/H)
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for context in @contexts %>
      <tr>
        <td><%= link_to h(context.name), edit_context_path(context) %></td>
        <td><%=context.description%> </td>
        <td><%=context.productivity_average%> </td>
        <td class="buttons"><%= delete_link context_path(context) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links_full @contexts %>

